spring:
  application:
    name: library
  datasource:
    url: jdbc:postgresql://localhost:5432/library_db
    username: nati
    password: nati_pass
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  
  sql:
    init:
      mode: always  
      schema-locations: classpath:schema.sql
      data-locations: classpath:data.sql

  # security:
  #   user:
  #     name: nati
  #     password: nati_pass

  devtools:
    restart:
      enabled: true
    livereload:
      enabled: true
  
  thymeleaf:
    cache: false

server:
  port: 8080